
.content {
    flex: 1;
}


.frontpage-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--body-font), serif;
}

#intro-title {
    margin-top: 20%;
    font-size: 3rem;
}


#intro-paragraph {
    color: var(--main-button-color);
    font-size: 2.5rem;
    margin-top: 10%;
    margin-bottom: 10%;
}

#order-button {
    background-color: var(--main-button-color);
    border-radius: var(--button-border);
    font-size: 3rem;
    color: var(--button-text-color);
    width: 23.25rem;
    height: 6.2rem;
    border: none;
}

.cupcake-highlight {
    margin-top: 12%;
    display: flex;
    justify-content: center;
}

.cupcake-highlight-box {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    width: 75%;
    height: 31.98rem;
    border-radius: 1.63rem;
    border: 1.63px solid #E8D8E8;
    font-family: var(--body-font), serif;
    background: #FFF;
}


#arrow-left {
    margin-top: 10%;
    margin-left: 2%;
    align-self: center;
    width: 7.2rem;
    height: 7.2rem;
    aspect-ratio: 1/1;
}

#arrow-right {
    margin-top: 10%;
    margin-right: 2%;
    align-self: center;
    width: 7.2rem;
    height: 7.2rem;
    aspect-ratio: 1/1;
}

.cupcake-highlight-info {
    display: flex;
    flex-direction: column;
}

.cupcake-highlight-title {
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
    margin-left: 3%;
}

.highlight-box-funbutton {
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    margin: 0;
    margin-right: 3%;
    border-radius: 1.47675rem;
    background: rgba(201, 123, 178, 0.50);
    color: #7a567a;
    font-size: 1.5rem;
    width: auto;
    padding-right: 2%;
    padding-left: 2%;
    height: 3.7rem;
}

.highlight-box-title {
    margin: 0;
    font-size: 3rem;
}

.highlight-box-flavor {
    margin: 1.7rem;
    margin-left: 3%;
    font-size: 1.5rem;
    color: #7A5A7A;
}

.highlight-box-price {
    margin: 1.7rem;
    margin-left: 3%;
    font-size: 1.6rem;
    color: #C97BB2;
    justify-self: center;
}

.cupcake-image-box {
    justify-self: center;
    margin-top: 5%;
}

#cupcake-image {
    width: 15rem;
    height: 15rem;
}


@media (max-width: 1024px) {
    #highlight-box-center {
        display: none;
    }

    #highlight-box-left {
        display: none;
    }

    #cupcake-image-right {
        width: 15rem;
        height: 15rem;
    }

    .cupcake-image-box {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    #intro-title {
        margin-top: 2%;
        font-size: 2.5rem;
    }

    #intro-paragraph {
        font-size: 1.8rem;
        margin-top: 0.5%;
        margin-bottom: 1.6%;
    }

    #order-button {
        margin-top: 0.5%;
        font-size: 1.5rem;
        color: var(--button-text-color);
        width: 12.25rem;
        height: 3.2rem;
        border: none;
    }

    .cupcake-highlight {
        margin-top: 0;
        display: flex;
        justify-self: center;
        align-self: flex-start;
    }

    .cupcake-highlight-box {
        margin-top: 7%;
        margin-left: 2%;
        margin-right: 2%;

        min-width: 55%;
        height: 40vh;
        max-height: 40vh;
        min-height: 40vh;
        position: relative;
    }

    .highlight-box-title {
        font-size: 1.9rem;
        align-self: center;
    }

    #arrow-left {
        display: none;
    }

    #arrow-right {
        display: none;
    }

    .highlight-box-funbutton {
        font-size: 1rem;
    }

    .cupcake-highlight-title {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
        margin-left: 3%;
    }

    .highlight-box-price {
        margin-top: 0;
    }

    #cupcake-image-left {
        width: 15rem;
        height: 15rem;
    }

    #cupcake-image-center {
        width: 15rem;
        height: 15rem;
    }
    
    #cupcake-image-right {
        width: 15rem;
        height: 15rem;
    }
    .cupcake-image-box {
        position: absolute;
        bottom: 1vh;        /* or top: 0, adjust as needed */
        justify-self: center;
        margin-top: 0;
    }
}




