html {
   min-height: 100%;
}

body {
    background-color: var(--vanilla-white-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: auto;
}

main {
    flex: 1 1 auto;
}
hr {
    background-color: var(--main-button-color);
    border: solid var(--main-button-color) ;
    margin: 2rem;
}
footer {
    flex-shrink: 0;
    width: 100%;
    background-color: var(--main-button-color);
    color: var(--vanilla-white-color);
    font-family: var(--body-font), serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.5rem 0;
    font-size: 3rem;
}

@media(min-width: 1024px) {
    footer{
        display: flex;
        height: 7vh;
        font-size: 1.7rem;
        margin-top: 0;
    }
}