header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu-picture {
    width: 110px;
    height: 110px;
    margin-right: 3%;
    margin-top: 2%;
}


.logo{
    margin-left: 3%;
    margin-top: 2%;
    font-size: var(--Logo-phone);
}

