<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/public/css/variables.css" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" href="/public/css/generalBody.css" th:href="@{/css/generalBody.css}"/>
    <link rel="stylesheet" href="/public/css/burgerMenu.css" th:href="@{/css/burgerMenu.css}"/>
    <link rel="stylesheet" href="/public/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="/public/css/frontpage.css" th:href="@{/css/frontpage.css}"/>
    <link rel="stylesheet" href="/public/css/admin.css" th:href="@{/css/admin.css}"/>

</head>

<body>
<div th:replace="~{fragments :: header}"></div>

<main class="admin-container">
    <div class="big-white-box">
        <div class="admin-grid">

            <div class="customer-sidebar">
                <div class="list-header">Alle brugere</div>
                <div class="customer-item">
                <div th:each="user : ${allUsers}" class="customer-entry">
                    <button class="money-button"
                            th:data-id="${user.id}"
                            th:data-email="${user.email}"
                            th:data-balance="${user.balance}">
                        $</button>
                    <div class="customer-label"  th:text="'#' + ${user.id} + ' ' + ${user.email} + ' ' + ${user.balance} + 'DKK'">
                        #123 Morten
                    </div>
                </div>
                </div>
            </div>

            <div class="balance-box">
                <form id="balance-box-form" th:action="@{/addBalance}" method="post">
                    <input type="hidden" name="hiddenUserId" id="hidden-user-id">
                    <button id="cancel-button" th:onclick="|window.location.href='@{/renderAdminPage}'|"
                            type="button">X
                    </button>
                    <div class="balance-box-grid">
                        <p id="balance-box-header">Hvor meget vil du tilføje?</p>
                        <p id="balance-text"></p>
                <label>
                    <input id="balance-input" name="adminAddLabel" type="text" placeholder="eg. 100DKK..">
                </label>
                    <button id="balance-add-button" type="submit">Tilføj</button>
                    </div>
                </form>
            </div>


            <div class="order-details-panel">
                <div class="panel-header" th:text="${selectedUser != null ? selectedUser.email + 's Orders' : 'Alle ordrer'}">
                    Alle ordrer
                </div>
                <div class="order-item">
                    <th:block th:each="order : ${allOrders}">
                        <div class="order-form">
                            <span th:text="'Order ID: #' + ${order.orderId} + ' User ID: #' + ${order.userId} + ' Cupcake Ids: #' + ${order.cupcakeIds}">
                                #1753
                            </span>
                            <form th:action="@{/removeOrder}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.orderId}"/>
                                <button class="delete-btn" type="submit">X</button>
                            </form>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments :: footer}"></div>

<script src="/public/js/burgerMenu.js" th:src="@{js/burgerMenu.js}"></script>
<script src="/public/js/balanceMenu.js" th:src="@{js/balanceMenu.js}"></script>

</body>
</html>