<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sub Stats - Login</title>
    <link rel="stylesheet" href="/public/css/variables.css" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" href="/public/css/generalBody.css" th:href="@{/css/generalBody.css}"/>
</head>

<body>

<div class="box-login">
    <h1 id="welcome-message">Welcome to CupCake</h1>

    <div id="menu-box-login">
        <hr class="divider">
        <button id="login" class="button-box" style="grid-area: login">Log In</button>
        <a th:href="@{/register}" class="button-box" style="grid-area: register">Create User</a>


    </div>
    <form id="register-form-login" action="/login" method="post">
        <p class="text" style="grid-area: username-text">EMAIL</p>
        <input class="input-box" type="text" name="email" style="grid-area: email" placeholder="eg. User1234..">
        <input class="input-box" type="password" name="password" style="grid-area: password" placeholder=" •••••••••••">
        <p style="grid-area: password-text">PASSWORD</p>
        <hr class="divider">
        <button type="submit" style="grid-area: login-button" class="login-box">Log In</button>
    </form>


</div>
</body>
</html>
