<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/public/css/variables.css" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" href="/public/css/generalBody.css" th:href="@{/css/generalBody.css}"/>
    <link rel="stylesheet" href="/public/css/burgerMenu.css" th:href="@{/css/burgerMenu.css}"/>
    <link rel="stylesheet" href="/public/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="/public/css/frontpage.css" th:href="@{/css/frontpage.css}"/>
    <link rel="stylesheet" href="/public/css/admin.css" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" href="/public/css/myOrders.css" th:href="@{/css/myOrders.css}"/>

</head>

<body>
<div th:replace="~{fragments :: header}"></div>

<main class="order-overview">
    <div class="white-box">

            <div class="my-orders-panel">
                <div class="panel-header" th:text="${selectedUser != null ? selectedUser.email + 's Orders' : 'Mine Ordrer'}">
                    Mine ordrer
                </div>
                <div class="order-item">
                    <th:block th:each="order : ${currentUserOrders}">
                        <div class="order-form">
                            <span th:text="'Order ID: #' + ${order.key}">Order ID</span>

                            <th:block th:each="cupcake : ${order.value}">
                                <span th:text="${cupcake.name}">Cupcake Name</span>
                                <span th:text="${cupcake.amount}">Quantity</span>
                                <span th:text="${(cupcake.price*cupcake.amount)}">Price</span>

                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
    </div>
</main>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>