<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head(Forside)}"></div>

<body>
<div th:replace="~{fragments :: header}"></div>

<main class="order-overview">
    <div class="white-box">

        <div class="my-orders-panel">
            <div class="panel-header"
                 th:text="${selectedUser != null ? selectedUser.email + 's Orders' : 'Mine Ordrer'}">
                Mine ordrer
            </div>
            <div class="my-orders-item">
                <th:block th:each="order : ${currentUserOrders}">
                    <div class="order-form">
                        <span class="my-order-labels" th:text="'Order ID: #' + ${order.key}">Order ID</span>
                        <div class="my-order-informations">
                            <th:block th:each="cupcake : ${order.value}">

                                <span class="my-order-labels" th:text="${' | ' + cupcake.name + ' x '+cupcake.amount + ' ' + 'Pris: ' + (cupcake.price*cupcake.amount)}">Cupcake Name</span>
                            </th:block>

                            <span class="my-order-labels"
                                  th:text="${' | Total: ' + totalPrices[order.key]}">
                             </span>

                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments :: footer}"></div>

<script src="/public/js/burgerMenu.js" th:src="@{js/burgerMenu.js}"></script>
</body>
</html>