<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head(Forside)}"></div>

<body>
<div th:replace="~{fragments :: header}"></div>

<div class="payment-box">
<p id="your-order-title">Din Bestilling</p>
    <div class="payment-basket-list">
        <form id="pay-form" th:action="@{/payOrder}" method="post">
        <th:block th:each="cupcake : ${basketList}">
            <div class="basket-list-product-box">
                <div class="first-line-styling">
                    <a class="name-price" th:text="${cupcake.getAmount+' '+cupcake.getName}"></a>
                    <div class="remove-and-price">
                        <a class="name-price" th:text="${(cupcake.getPrice * cupcake.getAmount)+' kr'}"></a>
                    </div>
                </div>
                <a class="ingredients" th:text="${cupcake.getTop+' '+cupcake.getBottom}"></a>
                <a></a>
            </div>
        </th:block>
        </form>
    </div>
    <hr>
    <a id="total-payment" class="name-price" th:text="${getTotalPrice+' kr'}"></a>
    <div class="pay-button-box">
   <button  id="pay-button" form="pay-form" type="submit">Betal</button>
    </div>
</div>

<script src="/public/js/burgerMenu.js" th:src="@{js/burgerMenu.js}"></script>
<footer>
    <p>din@mail.dk</p>
</footer>
</body>
</html>