<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/variables.css" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" href="/public/css/generalBody.css" th:href="@{/css/generalBody.css}"/>
    <link rel="stylesheet" href="/public/css/burgerMenu.css" th:href="@{/css/burgerMenu.css}"/>
    <link rel="stylesheet" href="/public/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="/public/css/frontpage.css" th:href="@{/css/frontpage.css}"/>
    <link rel="stylesheet" href="/public/css/payment.css" th:href="@{/css/payment.css}"/>
    <link rel="stylesheet" href="/public/css/order.css" th:href="@{/css/order.css}"/>
</head>

<body>
<div th:replace="~{fragments :: header}"></div>


<div class="payment-box">
<p id="your-order-title">Din Bestilling</p>
    <div class="payment-basket-list">0
        <form id="pay-form" th:action="@{/payOrder}" method="post">
        <th:block th:each="cupcake : ${basketList}">
            <div class="basket-list-product-box">
                <div class="first-line-styling">
                    <a class="name-price" th:text="${cupcake.getAmount+' '+cupcake.getName}"></a>
                    <div class="remove-and-price">
                        <a class="name-price" th:text="${(cupcake.getPrice * cupcake.getAmount)+' kr'}"></a>
                    </div>
                </div>
                <a class="ingredients" th:text="${cupcake.getTop+' '+cupcake.getBottom}"></a>
                <a></a>
            </div>
        </th:block>
        </form>
    </div>
    <hr>
    <a id="total-payment" class="name-price" th:text="${getTotalPrice+' kr'}"></a>
    <div class="pay-button-box">
   <button  id="pay-button" form="pay-form" type="submit">Betal</button>
    </div>
</div>

<footer>
    <p>din@mail.dk</p>
</footer>
</body>
</html>