<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/public/css/variables.css" th:href="@{/css/variables.css}"/>
    <link rel="stylesheet" href="/public/css/generalBody.css" th:href="@{/css/generalBody.css}"/>
    <link rel="stylesheet" href="/public/css/login.css" th:href="@{/css/login.css}"/>
</head>

<body>

<h1 class="logo">Olsker Cupcakes</h1>

<div class="box-login">
    <h1 class="welcome-message">Opret Bruger</h1>


    <form id="register-form" action="/login" method="post">
        <p class="input-description">EMAIL</p>
        <input class="input-box" type="text" name="email" placeholder="eg. User1234..">
        <p class="input-description" password-text">PASSWORD</p>
        <input class="input-box" type="password" name="password"  placeholder=" •••••••••••">
        <p class="input-description" password-text">GENTAG PASSWORD</p>
        <input class="input-box" type="password" name="password"  placeholder=" •••••••••••">

        <button class="login-button" type="submit">Opret</button>
    </form>

    <div class="opret">
        <p>Har du allerede en bruger?</p>
        <a th:href="@{/register}" class="button-box" id="register-button" >Log in her</a>
    </div>

</div>
</body>
</html>
